.invert-50{
    filter: invert(50%);
}
.feedback h2 {
    font-weight: 700;
    font-size: 4.3rem;
    line-height: 133.6%;
    color: #FBB400;
}
.feedback h3{
    color: black;
    font-weight: 600;
    font-size: 4rem;
}
.feedback{
    margin-bottom: 50px;
}
